// 
// Styles
// 

@import "./variables";

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Global CSS
@import "./global";

// Components
@import "./components/icons";

// Sections
@import "./sections/masthead";
@import "./sections/showcase";
@import "./sections/testimonials";
@import "./sections/call-to-action";
@import "./sections/footer";

.showcase-img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  width: 100%;
  height: 75px;
  object-fit: cover;
}
.carousel-inner {
  object-fit: cover;
  max-height: 450px;
  .carousel-item {
    height: 100%;
  &.active {
    max-height: 450px;
  }
  img {
    height: auto;
    max-height: 450px;
    }
  }
}


.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); 
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.nav a.nav-link {
  color: var(--bs-body-color) ! important;
}
figure.half {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

